{% extends 'base.html' %}

{% block title %}
    Lista de Niveles
{% endblock title %}


{% block content %}
    <h1 class="text-2xl font-extrabold">Niveles</h1>
    <br>
    <a 
    class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
    href="{% url 'career:level_create' %}">
    Nuevo nivel</a>
    <br>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nivel</th>
                <th>Abreviatura</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for level in levels %}
            <tr>
                <td><a href="{% url 'career:level_details' level.id %}">{{ level.id }}</a></td>
                <td>{{ level.name }}</td>
                <td>{{ level.short_name }}</td>
                <td>Acciones</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock content %}